name = "lighter-price-monitor-v2"
main = "src/index.ts"
compatibility_date = "2024-12-15"

# Durable Objects
[[durable_objects.bindings]]
name = "ORDERBOOK_TRACKER"
class_name = "OrderbookTracker"

# D1 Database
[[d1_databases]]
binding = "DB"
database_name = "orderbook-data"
database_id = "9bc40b46-ad84-4722-a63c-a4de36edc246"

# Migrationen
[[migrations]]
tag = "v2"
new_classes = ["OrderbookTracker"]
deleted_classes = ["PriceMonitor"]
